*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    background-color: black;
    justify-content: center;
}

#general-div-container{
    display: grid;
    grid-template-rows: repeat(10, 70px);
    grid-template-columns: repeat(10, 100px);
}

#menu-dashboard-content{
    background-color: rgb(31, 141, 197);
    color:white; 
    grid-area: 1 / 1 / 11 / 3 ;
    padding: 10px;
}

#menu-bar-content{
    background-color: rgb(255, 255, 255) ;
    color: black; 
    grid-area: 1 / 3 / 3 / 11 ;  
    box-shadow: 1px 3px 2px rgba(81, 81, 81, 0.36); 
}

#menu-content{
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(15, 50px);
    background-color: rgb(214, 219, 233);
    grid-area: 3 / 3 / 11 / 11;
    gap: 3px; 
    z-index: -1 ;
}

#your-project-content{
    margin: 10px;
    grid-area: 1 / 1 / 10 / 12;
}

#your-project-content>div{
    margin-top: 7px;
    display: grid;
    grid-template-columns: repeat(2, 274px);
    grid-template-rows: repeat(3, 160px); 
    gap: 10px;
}

.project-div{
    padding: 18px; 
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px ;
    border-radius: 3px;
    box-shadow:  /*inner yellow bar*/inset 5px 0px 0px rgb(255, 187, 0), 
                 /*out of box shadows*/4px 5px 5px rgba(128, 128, 128, 0.282);
}

.announcement-div{
    display: grid;
    grid-template-rows: repeat(3, 50px);
    padding: 30px 18px 35px 18px; 
    background-color: white;
    font-size: 14px;
    margin-top: 10px ;
    border-radius: 3px;
    box-shadow: 4px 5px 5px rgba(128, 128, 128, 0.282); 
}

.announcement-div p{
    color: rgba(128, 128, 128, 0.482); 
}

.trending-div{
    padding: 12px 12px 40px 12px; 
    background-color: white;
    font-size: 13px;
    margin-top: 10px ;
    border-radius: 3px;
    display: grid;
    grid-template-rows: repeat(4, 20px);
    box-shadow: 4px 5px 5px rgba(128, 128, 128, 0.282); 
    gap: 26px;
}

.project-div>h5{
    margin-bottom: 4px  ;
}

.bottom-icons{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    gap: 17px;
}

.bottom-icons>img{
    width: 15px;
    height: 15px;
}
.project-div>p{
    font-weight: normal;
    font-size: 9px;
    color: rgba(78, 78, 78, 0.626);
}

#announcements{
    margin: 10px;
    grid-area: 1 / 12 / 5 / 17 ;
}

.announcement-block-paragraph{
    font-size: 8px ;
}
 
.block2{
    padding: 6px 0px 7px 0px ;
    border-bottom: 1px solid rgba(128, 128, 128, 0.281);
    border-top: 1px solid rgba(128, 128, 128, 0.281);
    
}

.block3{
    margin-top: 6px;
}

#trending{
    margin: 10px;
    margin-top: 80px;
    grid-area: 5 / 12 / 10 / 17; 
}

.trending-block>img{
    width: 30px;
    height: 30px;
    grid-area: 1 / 1 / 1 / 4 ;
}

.trending-block{
    display: grid;
    grid-template-columns: repeat(2,50px);
    grid-template-rows: repeat(3,25px);
    align-items: center;
}

.avatar-name{
    font-size: 9px;
    font-weight: bold;
    margin-bottom: 3px ; 
    grid-area: 1 / 2 / 2 / 5; 
    margin: 0; 
}

.avatar-subtitle{
    grid-area: 2 / 2 / 2 / 5;
    font-size: 9px ;
    color: rgba(47, 47, 47, 0.815);
    margin-top: 0px;
}

.menu-bar{
    display: grid;
    grid-template-rows: repeat(2, autofill);
}

.first-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 17px 17px 0px 17px;
}

.search-image,
.sign-signal{
    width: 19px;
    height: 19px;
}

.sign-signal{
    margin-left: 140px;
    margin-right: 10px;
}

.avatar{
    width: 37px;
    height: 37px;
}

.first-block>input{
    margin: 0px 5px 0px 5px;
    flex: 2; 
    background-color: rgba(176, 202, 210, 0.681);
    border-radius: 10px;
    padding-left: 10px;
    color: rgb(42, 35, 35); 
    font-weight: bold;
    border: 1px solid white;
    padding-bottom: 6px;
}

.avatar-name-search{
    font-size: 13px ;
    font-weight: bold;
}


.second-block{
    display: flex;
    justify-content: space-between;
}

.user-information{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(10, 5px);
    margin-left: 40px;
    align-items: center;
}

.user-information>img{
    width: 50px; 
    height: 50px;
    grid-area: 1 / 1 / 3 / 1; 
}

.greeting-message{
    font-size: 10px;
    grid-area: 1 / 3 / 2 / 10; 
}

.principal-name{
    grid-area: 5 / 3 / 3 / 10; 
}

.updating-buttons{
    display: flex;
    align-items: center;
    margin-right: 30px;
    padding: 5px; 
    gap: 20px;
}

.updating-buttons>button{
    padding: 6px 20px 6px 20px;
    border: 1px solid white;
    color: white;
    background-color: rgb(31, 141, 197);
    border-radius: 15px;
    font-weight: bold;
    font-size: 10px;
}

.updating-buttons>button:hover{
    background-color: white;
    color: rgb(31, 141, 197);
}

.dashboard-element{
    display: grid;
    grid-template-columns: repeat(10,5px);
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
}

.dashboard-element>img{
    grid-area: 1 / 1 / 1 / 1 ;
}

.dashboard-element>h5{
    grid-area: 1 / 7 / 1 / 10;
}

.main-dashboard-title{
    font-size: 16px;
}

.main-dashboard-element,
.last-middle-dashboard-element{
    margin-bottom: 40px;
}

.dashboard-element-icon{
    width: 15px;
    height: 15px;
}